*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.attribution {
  font-size: 0.7rem;
  text-align: center;
  margin: 0;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: hsl(30, 38%, 92%);
}

/* font-family: 'Montserrat', sans-serif; */

/* font-family: 'Fraunces', serif; */

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  width: 310px;
  margin: 3rem auto;
}

@media (max-width: 426px) {
  .container {
    width: 310px;
    aspect-ratio: 1;
    margin: auto;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
  }

  .mobile-img {
    object-fit: contain;
    border-radius: 10px 10px 0 0;
  }


  .desktop-img {
    display: none;
  }

  .section-bottom {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-inline: 1.2rem;
    gap: 1rem;
  }

  .subtitle {
    font-family: "Montserrat", sans-serif;
    color: hsl(228, 12%, 48%);
    font-size: 1rem;
    margin-bottom: -0.3rem;
  }

  .title {
    font-family: "Fraunces", sans-serif;
    font-size: 1.7rem;
    font-weight: 700;
    width: 15ch;
    line-height: 1.7rem;
    color: hsl(212, 21%, 14%);
  }

  .description {
    font-family: "Montserrat", sans-serif;
    color: hsl(228, 12%, 48%);
    font-size: 0.8rem;
    line-height: 1.2rem;
    width: 30ch;
  }
  
  .price {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    position: relative;
  }

  .normal {
    font-family: "Fraunces", sans-serif;
    font-size: 2rem;
    color: hsl(158, 36%, 37%);
  }

  .discount {
    font-family: "Montserrat", sans-serif;
    color: hsl(228, 12%, 48%);
    font-size: 0.8rem;
  }

  .cart {
    padding: 1rem 2rem;
    background-color: hsl(158, 36%, 37%);
    border: none;
    color: hsl(0, 0%, 100%);
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    border-radius: 10px;
    position: relative;
    transition: background-color 0.3s;
    cursor: pointer;
  }

  button:hover {
    background-color: hsl(158, 42%, 22%);
  }

  svg {
    position: absolute;
    left: 70px;
  }
}

@media (min-width: 427px) {
  .container {
    width: 620px;
    height: 460px;
    aspect-ratio: 1;
    margin: auto;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px 10px 0 0;
    display: flex;
  }

  .mobile-img {
    object-fit: contain;
    border-radius: 10px 10px 0 0;
    display: none;
  }

  .desktop-img {
    object-fit: contain;
    width: 310px;
    border-radius: 10px 0 0 10px;
  }

  .section-bottom {
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-inline: 1.7rem;
    gap: 1.5rem;
  }

  .subtitle {
    font-family: "Montserrat", sans-serif;
    color: hsl(228, 12%, 48%);
    font-size: 1.5rem;
    margin-bottom: -0.3rem;
  }

  .title {
    font-family: "Fraunces", sans-serif;
    font-size: 2.2rem;
    font-weight: 700;
    width: 10ch;
    line-height: 2.1rem;
    color: hsl(212, 21%, 14%);
  }

  .description {
    font-family: "Montserrat", sans-serif;
    color: hsl(228, 12%, 48%);
    font-size: 0.8rem;
    line-height: 1.2rem;
    width: 25ch;
  }
  
  .price {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
    position: relative;
  }

  .normal {
    font-family: "Fraunces", sans-serif;
    font-size: 2rem;
    color: hsl(158, 36%, 37%);
  }

  .discount {
    font-family: "Montserrat", sans-serif;
    color: hsl(228, 12%, 48%);
    font-size: 0.8rem;
  }

  .cart {
    padding: 1rem 2rem;
    background-color: hsl(158, 36%, 37%);
    border: none;
    color: hsl(0, 0%, 100%);
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    border-radius: 10px;
    position: relative;
    transition: background-color 0.3s;
    cursor: pointer;
  }

  button:hover {
    background-color: hsl(158, 42%, 22%);
  }

  svg {
    position: absolute;
    left: 55px;
  }
}

